{%extends 'all/base.html'%}
{%load static%}
{%block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<main >
    {% include 'all/navbar.html' %}
    
    <div id="main">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-5">
                    <h1 id="welcome"> Neighbourhood watch
                        <br>
                        Let's keep our community safe.
                    </h1>
                    <p id="p">Join a community and be upto date with upcoming events,businesses and other information.</p>
                    
                </div>
                <div class="col-md-7" style="display:flex;">
                    <img src="{%static 'img/safe.jpg'%}" alt="" id="body-img" />
                   
                </div>
              
            </div>
            
        </div>
    </div>
    <section id="hood" class="mt-5">
        <div class="container">
            <h2 >Join a neighbourhood
            or <span id="create"> <a href="{%url 'newhood'%}">Create one</a>
            
            </h2>
            <div class="row mt-4">
                {%if neighbourhoods%}
                {%for neighbourhood in neighbourhoods %}
                    <div class="col-sm-4 mb-3">
                        <div class="card" id="hoodcard">
                            <div class="card-body" >
                                <img src="{{neighbourhood.image.url}}" alt="">
                                <h5 class="card-title">Name:{{neighbourhood.name}}</h5>
                                <p class="card-text">Location:{{neighbourhood.location}}</p>
                                <p>Created on {{neighbourhood.date|date}} <br> Admin:{{neighbourhood.admin}}</p>

                                {% if request.user.profile.neighbourhood == neighbourhood %}
                                <div class="row">
                                    <div class="col-md-6">  <a  href="{% url 'hood' user.profile.neighbourhood.id %}">
                                        <button class="btn" id="hoodview">View more</button></a></div>
                                    <div class="col-md-6"><a href="{% url 'leave' neighbourhood.id %}">
                                        <button class="btn" id="hoodleave"> Leave Neighborhood</button>
                                    </a></div>
                                </div>
                              
                                    
                                

                
                                {% elif not request.user.profile.neighbourhood %}
                                <a  href="{% url 'join' neighbourhood.id %}" id="hoodjoin" class="btn ">Join {{neighbourhood.name}} Neighborhood</a>
                                {% endif %}
                                    
                                     <!-- works the same just that the join btn on the other neighbourhoods won't disappear -->
                                <!-- {%if request.user.profile.neighbourhood != neighbourhood%}
                                <a  href="{% url 'join' neighbourhood.id %}" class="btn btn-success button-action">Join {{neighbourhood.name}} Neighborhood</a>
                                {%else%}
                                 <a  href="{% url 'hood' user.profile.neighbourhood.id %}">
                                    <button class="btn btn-success button-action">Check my Neighbourhood</button></a>
                                <a href="{% url 'leave' neighbourhood.id %}" class="btn btn-outline-danger button-action">Leave {{neighbourhood.name}} Neighborhood</a>
                                {% endif %} -->



                        
                            
                            </div>
                        </div>
                    
                    </div>
                {%endfor%}
                {%endif%}
        </div>
        
    </section>
    
</main>

{%endblock%}