{%extends 'all/base.html'%}
{%load static%}
{%block content %}
{%include 'all/navbar.html'%}
<div class="contain" id="container-profile">
    <div class="row py-4 px-2">
        <div class="col-md-12 mx-auto"> 
                    <div class="media align-items-end profile-head"> 
                        <div class="col-md-10 profile mr-3" style="display:flex;">
                            <div class="col-md-5 mt-2">
                               
                                <img src="{{user.profile.profile_pic.url}}" alt="..." 
                             class="img-thumbnail" id="profile_pic">
                            </div>
                            <div class="col-md-4" style="margin-left:0%" >
                                <div class="media-body mb-7 text-white"> 
                                    <h4 class="mt-2 mb-0 "> <i class="fas fa-user"></i>&nbsp;Name: {{user}} 
                                      
                                    </h4> 
                    
                                    <p class="small mb-4">
                                        <i class="fas fa-envelope">&nbsp;Email: {{user.email}}</i>
                                    </p>
                                  
                                    <p class="font-italic mb-0"> <i class="fas fa-book"></i>&nbsp;Bio: {{ user.profile.bio }}</p>
                                    <br>
              
                                    
                                </div>
                            </div>
                            <div class="col-md-2"  style="margin-left:2%">
                                <a class="btn btn-outline-light btn-sm btn-block" 
                                id="edit-profile" data-bs-toggle="modal" data-bs-target=".bd-example-modal-md">
                                <strong>Edit Profile</strong></a>
                                <a href="{% url 'logout' %}" class="btn btn-outline-light btn-sm btn-block">Logout</a>
                            </div>
                            <div class="modal fade bd-example-modal-md" id="usermodal"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-md ">
                                    <div class="modal-content" id="modal-content">
                                        <form action="" method="post" novalidate enctype="multipart/form-data" id="userform" class="mr-1 mt-4 ml-4 mb-4">
                                            {% csrf_token%}
                                            
                                            {{ updateUserForm.as_p}}
                                            <button type="submit" class="btn btn-primary btn-sm" id="updateprofile"> Update Profile</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    
                          
                        </div> 
                    
                    </div> 
                </div> 
        </div>
    </div>
</div>
{%endblock %}     